:root {
    --color-dark-bg: #0A0A0A;
    --color-card-bg: #1C1C1C;
    --color-text-light: #FFF;
    --color-text-medium: #AAA;
    --color-primary-green: #00FF00;
    --color-primary-blue: #00BFFF;
}

body {
    margin: 0;
    background-color: var(--color-dark-bg);
    font-family: 'Segoe UI', sans-serif;
    color: var(--color-text-light);
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    padding: 20px;
    border-bottom: 1px solid var(--color-card-bg);
}

.driver-name {
    margin: 0;
    font-size: 18px;
}

.ambulance-id {
    margin: 4px 0 0;
    color: var(--color-text-medium);
    font-size: 14px;
}

.content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.confirmation-card {
    background-color: var(--color-card-bg);
    width: 100%;
    padding: 24px;
    border-radius: 16px;
    text-align: center;
}

.title {
    margin-top: 0;
    margin-bottom: 24px;
}

.patient-check {
    margin-bottom: 20px;
}

.toggle-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    background: #000;
    padding: 16px;
    border-radius: 12px;
}

.label-text {
    font-size: 18px;
    font-weight: 600;
}

.toggle-input {
    display: none;
}

.toggle-slider {
    position: relative;
    width: 50px;
    height: 26px;
    background-color: #333;
    border-radius: 20px;
    transition: .4s;
}

.toggle-slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    border-radius: 50%;
    transition: .4s;
}

.toggle-input:checked+.toggle-slider {
    background-color: var(--color-primary-green);
}

.toggle-input:checked+.toggle-slider:before {
    transform: translateX(24px);
}

.instruction {
    color: var(--color-text-medium);
    font-size: 14px;
}

.footer {
    padding: 20px;
}

.action-button {
    width: 100%;
    padding: 16px;
    background-color: #333;
    color: #777;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
    cursor: not-allowed;
}

.action-button.active {
    background-color: var(--color-primary-blue);
    color: white;
    cursor: pointer;
}